// scss-lint:disable VendorPrefix
* {
  font-kerning: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  -webkit-text-size-adjust: 100%;
}
// scss-lint:enable VendorPrefix
