.admin {
  margin: 4rem auto;
  max-width: $wrapper-width;
  padding: 0 1rem;
  width: 100%;

  .wrapper {
    margin: 0 auto;
    padding: 0;
  }

  .heading-and-button {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h1 {
      margin-bottom: 0;
    }
  }

  .model-list {
    margin-top: 2rem;
  }

  .breakdown {
    display: none;
  }
}

@media (min-width: 980px) {
  .admin {
    margin: 138px auto 8rem;
    padding: 0 1.5rem;

    .breakdown {
      background: $grey;
      display: grid;
      margin: 2rem 0;

      h2 {
        color: $zurple-dark;
      }

      p {
        color: $text;
      }
    }
  }
}

@media (min-width: 1080px) {
  .admin {
    align-items: flex-start;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 270px 1fr;
  }
}
