.admin {
  align-items: flex-start;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 270px 1fr;
  margin: 138px auto 8rem;
  max-width: $wrapper-width;
  padding: 0 1.5rem;
  width: 100%;

  .wrapper {
    margin: 0 auto;
    padding: 0;
  }

  .heading-and-button {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h1 {
      margin-bottom: 0;
    }
  }

  .model-list {
    margin-top: 2rem;
  }

  .breakdown {
    background: $grey;
    margin: 2rem 0;

    h2 {
      color: $zurple-dark;
    }

    p {
      color: $text;
    }
  }
}
