.admin-breakdown {
  margin-bottom: 3rem;

  & > h2 i {
    color: $breakdown !important;
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  .stat {

    .value {
      font-weight: 500;
      font-size: 26px;
      line-height: 1.2;
      margin: 0 0 5px;
      color: $breakdown;
    }

    .description {
      font-size: 14px;
      line-height: 1.3;
      margin: 0;
    }

  }

}

@media (min-width: 620px) {
  .admin-breakdown {
    .stats { grid-template-columns: repeat(4, 1fr); }
    .stat .value { font-size: 30px; }
  }
}

@media (min-width: 820px) {
  .admin-breakdown .stats {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1000px) {
  .admin-breakdown .stats {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1150px) {
  .admin-breakdown .stats {
    grid-template-columns: repeat(5, 1fr);
  }
}