.danger-zone.admin-body {
  h1 {
    display: flex;
    align-items: center;
    font-size: 22px;

    i {
      color: $danger-red;
      margin-right: 0.75rem;
    }
  }

  h2 {
    border-top: 1px solid $border-on-white;
    padding-top: 2rem;
  }

  p {
    max-width: 600px;
  }

}