.flatpickr-day {

  &:hover {
    color: $darcula-inverted;
    background: $darcula;
    border-color: $darcula;
  }

  &.today {
    border-bottom-color: $darcula !important;

    &:not(.selected):hover {
      color: $darcula-inverted;
      background: $darcula;
      border-color: $darcula !important;
    }
  }

  &.selected {
    color: $zurple-inverted;
    background: $zurple;
    border-color: $zurple;

    &:hover {
      color: $darcula-inverted;
      background: $darcula;
      border-color: $darcula;
    }

  }

}