.flatpickr-day {

  &:hover {
    color: $branding-secondary-text;
    background: $branding-secondary;
    border-color: $branding-secondary;
  }

  &.today {
    border-bottom-color: $branding-secondary !important;

    &:not(.selected):hover {
      color: $branding-secondary-text;
      background: $branding-secondary;
      border-color: $branding-secondary !important;
    }
  }

  &.selected {
    color: $zurple-inverted;
    background: $zurple;
    border-color: $zurple;

    &:hover {
      color: $branding-secondary-text;
      background: $branding-secondary;
      border-color: $branding-secondary;
    }

  }

}