.empty-state {
  padding: 1.5rem;
  text-align: center;

  img {
    margin: 0 auto;
    max-width: 180px;
    padding: 0 0.5rem;
    width: 100%;
  }

  h2 {
    margin-bottom: 0;
    margin-top: 0.75rem;
  }

  p {
    margin-bottom: 0;
  }
}
