.admin form.game-form {
  max-width: $modal-width + 80px;

  .js-sortable {
    outline: none;

    li {
      cursor: move;
    }
  }

  .draggable-source--is-dragging {
    background: $zurple;
    color: $zurple-inverted;

    .highlight {
      color: inherit;
    }

    svg {
      fill: $zurple-inverted;
    }

    .flair {
      background: $zurple-inverted;
      color: $zurple;
    }
  }

  .draggable-mirror .player-remove {
    display: none;
  }
}
