.admin-navigation {
  line-height: $body-line-height;
  position: sticky;
  top: 100px;
  width: 270px;

  h2 {
    color: $zurple-dark;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .05em;
    margin: 2rem 0 .5rem;
    padding-left: .75rem;
    text-transform: uppercase;

    &:first-child {
      margin-top: 0;
    }
  }

  ul {
    list-style-type: none;
    margin: 0 0 1rem;
    padding: 0;
  }

  a {
    @include no-select();
    $hover-color: hsl(220, 8%, 99%);
    align-items: center;
    border-radius: 3px;
    color: $grey-darker;
    display: flex;
    fill: $grey-darker;
    margin: 3px 0;
    padding: 6px 1rem;

    svg {
      height: 22px;
      margin-right: .7rem;
      width: 22px;
    }

    &:hover {
      background: $hover-color;
    }

    &.active {
      background: $white;
      color: $zurple-dark;
      fill: $zurple-dark;
    }
  }
}
