.player-input-wrapper {
  display: flex;
  width: 100%;
  position: relative;

  input {
    max-width: none;
    border-radius: $border-radius 0 0 $border-radius;
  }

  button {
    border: 1px solid $grey-dark;
    border-left: 0;
    border-radius: 0 $border-radius $border-radius 0;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 15px;
    padding: 10px 18px;
  }
}

.suggestions-window {
  $shadow: rgba(0, 0, 0, 0.03);
  background: $grey-light;
  border: 1px solid $grey;
  border-radius: 0 0 $border-radius $border-radius;
  border-top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  max-height: 8 * 36.5px;
  padding: 0;
  position: absolute;
  overflow-y: auto;
  right: 0;
  top: 100%;
  box-shadow: 0 15px 30px $shadow, 0 5px 15px $shadow;
  z-index: 10000;

  li {
    padding: 9px 13px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
      background: $zurple;
      color: $zurple-inverted;
    }
  }
}
