.player-input-wrapper {
  width: 100%;
  max-width: 600px;
  background: lighten($input-background, 1%);
  border: 1px solid $input-border;
  border-radius: 2px;
  display: flex;

  input {
    max-width: none !important;
  }

  .twitter-typeahead {
    flex-grow: 1;
  }

  .tt-input, .tt-hint {
    background: lighten($input-background, 1%);
    border: none;
    margin: 0;
  }

  .button-secondary {
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 0;
    flex-shrink: 0;
    border: none;
    border-left: 1px solid $input-border;
  }

  .tt-menu {
    background: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin-top: 1px;

    &.tt-open {
      right: 0;
    }

    .tt-suggestion, .empty {
      padding: 6px 14px;

      &.tt-cursor {
        color: $branding-primary-text;
        background: $branding-primary;
      }
    }

  }

}