.player-area-header {
  align-items: center;
  border-bottom: 1px solid $grey;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  padding-bottom: 0.5rem;

  h2 {
    border-bottom: 0;
    margin: 0;
    padding: 0;
  }
}

.player-area {
  .players {
    margin: 0;
    padding: 0;
    border: 1px solid $grey;
    border-radius: $border-radius;
    list-style-type: none;
  }

  li {
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
    grid-gap: 1rem;
    padding: 0 0 0 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid $grey;
    }
  }

  .player-remove {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0.5rem;
    fill: $text;
    line-height: 1;
    vertical-align: middle;

    svg {
      height: 22px;
      width: 22px;
    }
  }

  .empty-state {
    border: 2px dashed $zurple;
  }
}

.player-area-footer {
  margin-top: 1.5rem;
}
