form .player-list {
  border: 1px solid $border-on-white;
  border-bottom: none;
  margin: 0 0 2rem;

  .player {
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 0;
    border-bottom: 1px solid $border-on-white;

    p { margin: 0.75rem 0; }

    &.orderable {
      @include no-select;
      cursor: move;
      cursor: grab;
    }

    &:not(.orderable) .player-name {
      margin-left: 1.25rem;
    }

    .player-username {
      color: lighten($generic-text, 40%);
      &:before { content: '\00a0'; }
    }

    .player-position {
      &:after { content: '\00a0'; }
    }

    .remove_fields {
      margin-left: auto;
      vertical-align: middle;
      line-height: 1;
      padding: 1rem;

      i {
        font-size: 18px;
        color: $generic-text;
        vertical-align: middle;
      }

      &:hover i { color: $danger; }

    }

    &.empty {
      justify-content: center;
      padding: 0.25rem;
    }

  }

}

form .drag-handle {
  @include no-select;
  padding: 10px 1.25rem;
  color: lighten($zurple, 10%);
  cursor: move;
  cursor: grab;
}

form .tip {
  margin: 0 0 2rem;

  .drag-handle {
    padding: 0;
    vertical-align: middle;
  }
}

@import "player-input";
