body.admin {
  h1 { font-size: 24px; }
}

.admin-body {
  background: white;
  padding: 2rem 1rem 2.5rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05),
  0 5px 15px rgba(0, 0, 0, 0.05);
  & > *:first-child { margin-top:    0; }
  & > *:last-child  { margin-bottom: 0; }

  .buttons {
    margin-top: 1.5rem;
    margin-bottom: -0.5rem;
  }

  .footer {
    text-align: center;
    margin: 3rem 0 0;

    p {
      margin: 1.5rem 0;
      color: lighten($generic-text, 20%);
    }

    *:last-child { margin-bottom: 0;}
  }

}

.admin-flexible-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 0;
}

.admin-content-wrapper {
  width: 100%;
  flex-grow: 1;
  & > *:first-child { margin-top: 0; }

  & > div h2 {
    display: flex;
    align-items: center;
    color: $generic-text-bold;
    font-size: $font-size;
    font-weight: bold;
    margin: 0 0 1rem;

    i {
      font-size: 19px;
      margin: -0.2rem;
      margin-left: 0.5rem;
      color: $branding-primary;
    }

  }

}

@media (min-width: 600px) {
  .admin-body {
    border-radius: 3px;
    padding: 2rem;
  }

  .admin-flexible-wrapper {
    padding: 0;
  }
}

@media (min-width: 1000px) {

  .admin-body {
    padding: 2.25rem;
  }

  .admin-flexible-wrapper {
    padding: 2.5rem 0;
  }

}