.admin-wrapper {
  margin: 0 auto 4rem;
  width: 100%;
  padding: 0;

  .admin-flex {
    display: flex;
    align-items: flex-start;
    border-top: 1px solid $border-on-grey;
    padding: 2.25rem 0;

    &:first-child { border-top: none; }

    .search-wrapper {
      width: 270px;
      margin-right: auto;
    }
  }

  h1 {
    font-size: 24px;
  }

  .admin-content-wrapper {
    width: 100%;
    flex-grow: 1;

    & > *:first-child {
      margin-top: 0;
    }

    & > div h2 {
      display: flex;
      align-items: center;
      color: $generic-text-bold;
      font-size: $font-size;
      font-weight: bold;
      margin: 0 0 1rem;

      i {
        font-size: 22px;
        margin: -0.2rem;
        margin-left: 0.5rem;
        color: $branding-primary;
      }

    }

  }

  .admin-body {
    background: white;
    padding: 1.5rem 1rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05),
    0 5px 15px rgba(0, 0, 0, 0.05);
    & > *:first-child { margin-top:    0; }
    & > *:last-child  { margin-bottom: 0; }
    .buttons {
      margin-top: 1.5rem;
      margin-bottom: -0.5rem;
    }
  }

  .danger-zone {
    margin-top: 2rem;
    p { margin: 1rem 0; }
    h2 i { color: $danger-red !important; }
  }

  section {
    display: flex;
    align-items: flex-start;
    border-top: 1px solid $border-on-white;
    padding: 4em 0;
  }

  .section-outline {
    width: 33%;
    max-width: 33%;
  }

  .section-content {
    width: 66%;
    & > *:first-child { margin-top:    0; }
    & > *:last-child  { margin-bottom: 0; }
  }

}

@media (min-width: 600px) {
  .admin-wrapper {
    padding: 0 1rem 1rem;
    .admin-body { border-radius: 3px; }
  }
}

@media (min-width: 1000px) {

  .admin-wrapper {
    max-width: 1200px;

    .admin-body {
      padding: 2.25rem;
    }
  }

}