<% content_for :title, 'Reset Password' %>
<% content_for :description, t('description.players.passwords.new') %>
<% content_for :canonical_url, new_player_password_url %>

<span class="subheading">Account Tools</span>
<h1>Reset Password</h1>

<%= render 'new_form' %>
