<h1>Players</h1>
<p>The following players exist:</p>

<% if @players.empty? %>
    There's nothing here
<% else %>
    <table>
        <tr>
            <th>Name</th>
            <th>Username</th>
        </tr>
        <%= render @players %>
    </table>

    <%= paginate @players %>
<% end %>

<br/>

<%= link_to 'Create new player', new_admin_player_path %>