<h1>Admin::Players</h1>
<p>The following players exist:</p>

<table>
    <tr>
        <th>Name</th>
        <th>Username</th>
    </tr>
    <%= render @players %>
</table>

<br/>

<%= link_to 'Create new player', new_admin_player_path %>