<% content_for :title, 'New player (Admin)' %>

<div class="admin-body">
    <h1>Create a player</h1>
    <p class="form-description">Register a new player. The player will be sent a randomly generated password via email.</p>
    <%= render 'form' %>
</div>