<tr>
  <td class="status">
    <% if event.occurred? %>
      <div class="status-dot"><i></i></div>
    <% else %>
      <div class="status-dot active"><i></i></div>
    <% end %>
  </td>
  <td class="stretch">
    <%= link_to edit_admin_event_path(event), remote: true, data: { expects_modal: true, disable: true } do %>
      <span class="highlight"><%= event.clean_title %></span> at the <%= event.venue.name %>
      <% if event.today? %>
        <span class="flair">today</span>
      <% end %>
    <% end %>
  </td>
  <td><%= local_time_ago event.start_at %></td>
</tr>