<h1>Edit <%= @event.clean_title %></h1>
<p>Make some changes or something.</p>

<%= render 'form' %>

<br />

<%= link_to 'Delete', admin_event_path(@event), method: :delete, data: { confirm: t('event.confirm_delete')} %>