<% content_for :title, 'Edit Event (Admin)' %>

<div class="admin-body">
    <h1>Edit <%= @event.clean_title %></h1>
    <p class="form-description">Here you can alter the finer details regarding a particular event.</p>
    <%= render 'form' %>
</div>

<br />

<%= link_to 'Delete', admin_event_path(@event), method: :delete, data: { confirm: t('event.confirm_delete')} %>