<div class="admin-body">

    <div class="admin-breakdown">

        <h2>
            <span>breakdown</span>
            <i class="material-icons">&#xE8E5;</i>
        </h2>

        <div class="stats">

            <!-- Upcoming events -->
            <div class="stat">
                <p class="value"><%= number_with_delimiter @stats[:upcoming] %></p>
                <p class="description">upcoming events</p>
            </div>

        </div>

    </div>

    <h2>Upcoming Events</h2>
    <% if @events.empty? %>
        There's nothing here.
    <% else %>
        <table>
            <tr>
                <th>Title</th>
                <th>Starts at</th>
            </tr>
            <%= render @events %>
        </table>

        <%= paginate @events %>
    <% end %>

    <h2>Schedulers</h2>

    <% if @recurring_events.empty? %>
        There's nothing here.
    <% else %>
        <table>
            <tr>
                <th>Title</th>
                <th>Starts at</th>
                <th>Period</th>
                <th>Interval</th>
            </tr>
            <%= render partial: 'recurring_event', collection: @recurring_events %>
        </table>
    <% end %>

</div>
