<h1>Events</h1>
<p>Here's all events</p>

<% if @events.empty? %>
    There's nothing here.
<% else %>
    <table>
        <tr>
            <th>Title</th>
            <th>Starts at</th>
        </tr>
        <%= render @events %>
    </table>

    <%= paginate @events %>
<% end %>

<br />

<%= link_to 'Create a new event', new_admin_event_path %>