<div class="admin-body">

    <div class="admin-breakdown">

        <h2><span>breakdown</span><i class="material-icons">&#xE8E5;</i></h2>

        <div class="stats">

            <!-- Upcoming events -->
            <div class="stat">
                <p class="value"><%= number_with_delimiter @stats[:upcoming] %></p>
                <p class="description">upcoming events</p>
            </div>

        </div>

    </div>

    <% if @events.empty? %>
        There's nothing here.
    <% else %>
        <table>
            <tr>
                <th></th>
                <th>Title</th>
                <th class="stretch">Description</th>
                <th>Start time</th>
                <th>Venue</th>
            </tr>
            <%= render @events %>
        </table>

        <%= paginate @events %>
    <% end %>

</div>
