<div class="admin-body">

    <h2>Upcoming Events</h2>
    <% if @events.empty? %>
        There's nothing here.
    <% else %>
        <table>
            <tr>
                <th>Title</th>
                <th>Starts at</th>
            </tr>
            <%= render @events %>
        </table>

        <%= paginate @events %>
    <% end %>

    <h2>Schedulers</h2>

    <% if @recurring_events.empty? %>
        There's nothing here.
    <% else %>
        <table>
            <tr>
                <th>Title</th>
                <th>Starts at</th>
                <th>Period</th>
                <th>Interval</th>
            </tr>
            <%= render partial: 'recurring_event', collection: @recurring_events %>
        </table>
    <% end %>

    <br />

    <%= link_to 'Create a new event', new_admin_event_path %>

</div>
