<% content_for :title, 'Schedule a new event (Admin)' %>

<% content_for :scripts do %>
    <%= javascript_include_tag 'admin/admin' %>
<% end %>

<div class="admin-body">

    <h1>New event</h1>
    <p>Schedule a new event</p>

    <%= render 'form' %>

</div>