<% content_for :title, 'Schedule an Event (Admin)' %>

<div class="admin-body">
    <h1>New event</h1>
    <p class="form-description">This page allows you to schedule a new event. Note: Recurring events are generated 6 months in advance.</p>
    <%= render 'form' %>
</div>