table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;

  tr {
    border-bottom: 1px solid $border-on-white;
    &:last-child { border-bottom: none; }
  }

  th, td {
    padding: 7px 10px;

    &.numeric {
      text-align: right;
    }

    &.status {
      text-align: center;
      .status-dot { margin: 0 auto; }
    }

    &:not(.stretch) {
      width: 1%;
      white-space: nowrap;
    }

    &.badge-column .badge {
      color: lighten($generic-text, 8%);
      background: lighten($border-on-white, 5%);
      border-radius: 3px;
      font-size: 13px;
      padding: 2px;
      &:before, &:after { content: '\00a0'; }
    }

  }

  th {
    text-align: left;
  }

}