article {
  width: 100%;
  background: white;
  border-radius: 3px;
  padding: 2rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.02), 0 5px 15px rgba(0, 0, 0, 0.02);
  & > *:first-child { margin-top:    0; }
  & > *:last-child  { margin-bottom: 0; }

  h2 {
    margin: 3rem 0 1.5rem;
  }

}