body {
  background: hsl(220, 1%, 97%);
  overflow-x: hidden;
  width: 100vw;
  font-family: $font-stack;
  font-size: $font-size;
  line-height: 1.75;
  color: $generic-text;
  &.no-scroll { overflow: hidden; }
}