form {
  .fields {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .field {
    margin: 0 0 1rem;

    .checkbox {
      margin-bottom: .5rem;
    }

    .field-descriptor {
      color: lighten($text, 30%);
      margin: .25rem 0;
    }
  }

  .field-errors {
    border-left: 2px solid $danger;
    color: lighten($text, 15%);
    line-height: $body-line-height;
    margin: .5rem 0 .75rem;
    padding-left: 1.75rem;
  }

  // scss-lint:disable SelectorFormat
  .field_with_errors {
    display: inline;

    input {
      border-bottom-color: $danger;
      border-bottom-width: 2px;
    }

    label {
      color: $text-bold;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
  // scss-lint:enable SelectorFormat
}
