form {
  font-size: 15px;

  h2, h3 {
    margin: 0 0 1rem;
    font-size: 15px;
    font-weight: bold;
    color: $generic-text-bold;
  }

  .fields {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .field {
    margin: 0 0 1.5rem;
  }

  .buttons {
    margin-top: 0 !important;
    margin-bottom: 0;
    flex-direction: row-reverse;
  }

  section {
    border-bottom: 1px solid $border-on-white;
    padding: 2rem 0 3rem;

    &:first-of-type {
      padding-top: 1rem;
    }
  }

  .section-outline {
    margin-bottom: 2rem;

    h2 {
      text-transform: unset;
      letter-spacing: unset;
    }

    h2 > span {
      width: 24px;
      height: 24px;
      text-align: center;
      color: $branding-primary;
      font-size: 13px;
      font-weight: bold;
      border: 2px solid $branding-primary;
      border-radius: 50%;
      margin-right: 0.75rem;
    }

  }

  .section-content, .section-outline {
    & > *:first-child { margin-top:    0; }
    & > *:last-child  { margin-bottom: 0; }
  }

}

.form-description {
  margin-bottom: 2rem;
  max-width: 600px;
}


@media (min-width: 800px) {

  form {
    .buttons {
      margin-top: 2.5rem !important;
    }
  }

  section {
    display: flex;
    align-items: flex-start;
  }

  .section-outline {
    width: 33%;
    max-width: 33%;
    margin-bottom: none;
  }

  .section-content {
    width: 66%;
  }

}