.subheading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 84%;
  letter-spacing: 0.05em; // Extra 5% letter spacing for added readability
  color: $zurple;

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.inverted .subheading {
  color: darken($zurple-inverted, 10%);
}

h1, h2, h3, h4, h5, h6 {
  color: $text-bold;
}

.inverted {
  h1, h2, h3, h4, h5, h6 {
    color: $zurple-inverted;
  }
}

h1 {
  font-size: 2.2em;
  font-weight: normal; // Font weight should be similar to that of the subheading (visually).
  margin-top: 0.25rem; // Space between H1 and subheading
  margin-bottom: 1.5rem;
}


h2 {
  font-weight: 500;
}