label {
  margin-bottom: 0.25rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  position: relative;
  width: 100%;
  max-width: 320px;
  background: $input-background;
  border: 1px solid $input-border;
  border-radius: 2px;
  line-height: 1.1;
  color: $generic-text;
  padding: 10px 14px;
  margin-top: 0.25rem;
}

input[type="password"] { font-family: $font-stack; }

.input-wrapper {
  position: relative;

  i {
    z-index: 10;
    position: absolute;
    color: $branding-primary;
    padding: 13px 15px;
    font-size: 21px;
    pointer-events: none;
  }

  input {
    padding-left: 48px;
  }

}

.date-input, .date-time-input {
  max-width: 260px !important;
  cursor: pointer;
}