label {
  line-height: $body-line-height;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
.better-select-trigger {
  background: $white;
  border: 1px solid $grey-dark;
  border-radius: 2px;
  color: $grey-light-inverted;
  line-height: 1.1;
  max-width: $max-input-width;
  padding: 10px 13px;
  position: relative;
  width: 100%;
}

input[type="number"] {
  max-width: 160px;
}

input[type="tel"] {
  max-width: 240px;
}

textarea {
  background: $grey-light;
  border: 1px solid $grey-light;
  border-radius: 2px;
  color: $grey-light-inverted;
  line-height: 1.8;
  margin-top: .25rem;
  min-height: 120px;
  min-width: 200px;
  padding: 10px 14px;
  width: 100%;
}
