.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

table {
  display: block;
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $border-on-white;
    &:last-child { border-bottom: none; }

    &.first {
      font-weight: bold;
      background: #ffffff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239154ab' fill-opacity='0.10' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

      a {
        color: $branding-primary;
      }

      .quiet {
        font-weight: normal;
      }
    }

  }

  .quiet {
    color: lighten($generic-text, 40%);
  }

  a {
    color: $generic-text;

    &:hover {
      color: $branding-primary;
    }
  }

  th, td {
    padding: 7px 10px;
    white-space: nowrap;

    &.numeric {
      text-align: right;
    }

    &.centred {
      text-align: center;
    }

    a:hover {
      text-decoration: none;
    }

    &.status {
      text-align: center;
      .status-dot { margin: 0 auto; }
    }

    &:not(.stretch) {
      width: 1%;
      white-space: nowrap;
    }

    &.badge-column .badge {
      color: lighten($generic-text, 8%);
      background: lighten($border-on-white, 2%);
      border-radius: 3px;
      font-size: 13px;
      padding: 2px;
      &:before, &:after { content: '\00a0'; }
    }

    &.placeholder {

      &.numeric > span {
        margin-left: auto;
      }

      & > span {
        display: block;
        height: 21px;
        margin: 2px 0;
        background: $input-background;
        border-radius: 3px;
      }
    }

  }

  th {
    text-align: left;
    font-weight: normal;
    color: lighten($generic-text, 25%);
  }

}