textarea {
  width: 100%;
  min-width: 200px;
  min-height: 120px;
  background: $input-background;
  border: 1px solid $input-border;
  border-radius: 2px;
  line-height: 1.8;
  color: $text-bold;
  padding: 10px 14px;
  margin-top: 0.25rem;
}