<% content_for :description, t('landing.index.description') -%>
<% content_for :canonical_url, root_url -%>

<div class="landing-fold">
  <div class="wrapper">
    <h1>River Rats Poker League</h1>
    <%= image_tag 'logo-textless.svg' %>
  </div>
</div>
