<% content_for :title, t('landing.release_notes.title') -%>
<% content_for :description, t('landing.release_notes.description') -%>
<% content_for :canonical_url, release_notes_url -%>

<div class="wrapper">
  <span class="subheading">Version History</span>
  <h1><%= t('landing.release_notes.title') %></h1>

  <div class="release-notes">
    <!-- 1.1.1 -->
    <div class="release">
      <h2><span class="version">1.1.1</span> October 1st, 2018</h2>
      <ul>
        <li>
          <div class="change change-fixed">fixed</div>
          <p>Unable to delete regions in the admin panel <a href="https://github.com/sean0x42/riverrats.com.au/issues/95" class="anchor">#95</a>.</p>
        </li>
        <li>
          <div class="change change-fixed">fixed</div>
          <p>When creating a venue, error messages are not displayed.</p>
        </li>
        <li>
          <div class="change change-fixed">fixed</div>
          <p>Calendar renders incorrectly.</p>
        </li>
      </ul>
    </div>

    <!-- 1.1.0 -->
    <div class="release">
      <h2><span class="version">1.1.0</span>September 30th, 2018</h2>
      <ul>
        <li>
          <div class="change change-new">new</div>
          <p>Release notes are now available to the public.</p>
        </li>
        <li>
          <div class="change change-new">new</div>
          <p>Developers and admins now have a special tag beside their name to indicate their role.</p>
        </li>
        <li>
          <div class="change change-new">new</div>
          <p>Modal windows. You'll notice some things popup in windows now.</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>Flash messages can now be closed.</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>Flash messages will now stay on your screen as you navigate between pages.</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>Fixed some issues that were slowing down the website.</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>Updated the colour palette.</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>The appearance and function of checkboxes has been improved.</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>Header has been reworked. Now with dropdown menus!</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>Footer has received new links, and a layout change.</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>Player profiles have been reworked.</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>Most icons have been replaced or improved.</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>The login and sign up pages now display in a modal window.</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>The events calendar has been improved.</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>The date input has been improved.</p>
        </li>
        <li>
          <div class="change change-improved">improved</div>
          <p>Much of the admin panel has been reworked. Most actions now display in a modal window.</p>
        </li>
      </ul>
    </div>

    <!-- 1.0.4 -->
    <div class="release">
      <h2><span class="version">1.0.4</span> August 20th, 2018</h2>
      <ul>
        <li>
          <div class="change change-security">security</div>
          <p>A vulnerable dependency (supporting software) has been patched.</p>
        </li>
      </ul>
    </div>

    <!-- 1.0.3 -->
    <div class="release">
      <h2><span class="version">1.0.3</span>August 7th, 2018</h2>
      <ul>
        <li>
          <div class="change change-fixed">fixed</div>
          <p>Emails are failing to send.</p>
        </li>
      </ul>
    </div>

    <!-- 1.0.2 -->
    <div class="release">
      <h2><span class="version">1.0.2</span>August 6th, 2018</h2>
      <ul>
        <li>
          <div class="change change-fixed">fixed</div>
          <p>HTTP exception occurs whenever you try to update a player's username.</p>
        </li>
        <li>
          <div class="change change-fixed">fixed</div>
          <p>Season selector does not default to the current season.</p>
        </li>
        <li>
          <div class="change change-fixed">fixed</div>
          <p>Wins and plays columns are the wrong way around in the seasonal leaderboard.</p>
        </li>
      </ul>
    </div>

    <!-- 1.0.1 -->
    <div class="release">
      <h2><span class="version">1.0.1</span>July 1st, 2018</h2>
      <ul>
        <li>
          <div class="change change-fixed">fixed</div>
          <p>Seasons display the current quarter instead of their actual quarter.</p>
        </li>
      </ul>
    </div>

    <!-- 1.0.0 -->
    <div class="release">
      <h2><span class="version">1.0.0</span>May 27th, 2018</h2>
      <ul>
        <li>
          <div class="change change-new">new</div>
          <p>Site available to public.</p>
        </li>
      </ul>
    </div>
  </div>
</div>