<li>
  <div class="header-dropdown-wrapper">

    <!-- Trigger -->
    <div class="header-dropdown-trigger">
      <svg width="24px" height="24px" viewBox="0 0 24 24" class="material-icons mobile-icon">
        <path d="M16.85,6.85l1.44,1.44l-4.88,4.88l-3.29-3.29c-0.39-0.39-1.02-0.39-1.41,0l-6,6.01c-0.39,0.39-0.39,1.02,0,1.41l0,0
		c0.39,0.39,1.02,0.39,1.41,0L9.41,12l3.29,3.29c0.39,0.39,1.02,0.39,1.41,0l5.59-5.58l1.44,1.44c0.31,0.31,0.85,0.09,0.85-0.35V6.5
		C22,6.22,21.78,6,21.5,6h-4.29C16.76,6,16.54,6.54,16.85,6.85z"></path>
      </svg>
      <span>Leaderboards</span>
      <svg width="24px" height="24px" viewBox="0 0 24 24" class="material-icons">
        <path d="M8.71,11.71l2.59,2.59c0.39,0.39,1.02,0.39,1.41,0l2.59-2.59c0.63-0.63,0.18-1.71-0.71-1.71H9.41 C8.52,10,8.08,11.08,8.71,11.71z"></path>
      </svg>
    </div>

    <!-- Dropdown -->
    <div class="header-dropdown">
      <ul>
        <li><%= link_to t('players.index.title'), players_path %></li>
        <li><%= link_to 'Season Leaderboard', seasons_path %></li>
      </ul>
    </div>

  </div>
</li>