<li>
  <div class="header-dropdown-wrapper">

    <!-- Trigger -->
    <div class="header-dropdown-trigger">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="mobile-icon">
        <path d="M20,11H4V8H20M20,15H13V13H20M20,19H13V17H20M11,19H4V13H11M20.33,4.67L18.67,3L17,4.67L15.33,3L13.67,4.67L12,3L10.33,4.67L8.67,3L7,4.67L5.33,3L3.67,4.67L2,3V19A2,2 0 0,0 4,21H20A2,2 0 0,0 22,19V3L20.33,4.67Z"></path>
      </svg>
      <span>News</span>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
           height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" class="material-icons">
        <path d="M8.71,11.71l2.59,2.59c0.39,0.39,1.02,0.39,1.41,0l2.59-2.59c0.63-0.63,0.18-1.71-0.71-1.71H9.41 C8.52,10,8.08,11.08,8.71,11.71z"></path>
      </svg>
    </div>

    <!-- Dropdown -->
    <div class="header-dropdown">
      <p>Coming soon!</p>
    </div>

  </div>
</li>