<% if @notifications.empty? -%>
  <p>You haven't got any notifications yet!</p>
<% else -%>
  <ul class="notification-list">
    <%= render collection: @notifications, partial: 'notifications/short_notification' %>
  </ul>
<% end -%>
