<% if @notifications.empty? -%>
  <p>You haven't got any notifications yet!</p>
<% else -%>
  <ul class="notification-list">
    <%= render @notifications %>
  </ul>
<% end -%>

<%= link_to 'View all my notifications', notifications_path %>
