<div class="empty-state" style="<%= 'display: none' unless show %>">
  <%= image_tag 'td-list-empty.jpg' %>
  <h2><%= t('admin.games.new.empty_referees.title') %></h2>
  <p><%= t('admin.games.new.empty_referees.description') %></p>
</div>