<div class="empty-state" style="<%= 'display: none' unless show %>">
  <%= image_tag 'player-list-empty.png' %>
  <h2><%= t('admin.games.new.empty_players.title') %></h2>
  <p><%= t('admin.games.new.empty_players.description') %></p>
</div>