<tr>
    <td><%= game.created_at %></td>
    <td><%= game.players.count %></td>
    <td>0</td>
    <td><%= link_to 'view (public)', game_path(game) %></td>
    <td><%= link_to 'edit', edit_admin_game_path(game) %></td>
</tr>