<li class="nested-fields">
    <%= f.hidden_field :player_id, class: 'player-id' %>
    <%= f.hidden_field :position, class: 'player-position' %>
    <span class="player-label"><%= @names[f.object.player_id] %></span>
    <%= link_to_remove_association 'remove', f %>
</li>