<% content_for :title, "Edit Game #{@game.name} (Admin)" %>

<div class="admin-body">

    <h1>Edit Game <%= @game.name %></h1>
    <p class="form-description">Update an old game. Note: It may take a few minutes for the changes made here to propagate to each of the players involved.</p>

    <%= render 'form' %>

    <% if false %>
    <section class="danger-zone">

        <div class="section-outline">
            <h2>
                <span>Danger zone</span>
                <i class="material-icons">&#xE002;</i>
            </h2>
            <p>Be careful! These actions could have unforeseen consequences.</p>
        </div>

        <div class="section-content">
            <div class="buttons">
                <%= link_to admin_game_path(@game), method: :delete, data: { confirm: t('game.confirm_delete')}, class: 'button-secondary danger' do %>
                    Delete <%= @game.name %>
                <% end %>
            </div>
        </div>

    </section>
    <% end %>

</div>