<% content_for :title do %>Edit <%= @game.name %> (Admin)<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag 'admin/admin' %>
<% end %>

<div class="admin-body">

    <%= render 'form' %>

    <div class="danger-zone">

        <h2>
            <span>Danger zone</span>
            <i class="material-icons">&#xE002;</i>
        </h2>

        <div class="buttons">
            <%= link_to 'Delete', admin_game_path(@game), method: :delete, data: { confirm: t('game.confirm_delete')}, class: 'button danger' %>
        </div>

    </div>

</div>