<h1>Games</h1>
<p>The following games exist:</p>

<% if @games.empty? %>
    There's nothing here.<br />
<% else %>
    <table>
        <tr>
            <th>Game</th>
            <th># of Players</th>
            <th># of Tournament Directors</th>
            <th>Played</th>
        </tr>
        <%= render @games %>
    </table>

    <%= paginate @games %>
<% end %>

<br />

<%= link_to 'Create a new game', new_admin_game_path %>