<% content_for :title, 'New game (Admin)' %>

<div class="admin-body">
    <h1>Record a Game</h1>
    <p class="form-description">Record a new game. Note: It may take a few minutes for the changes made here to propagate to each of the players involved.</p>
    <%= render 'form' %>
</div>