<div class="wrapper wrapper-header submerged">
    <h1>Welcome</h1>
    <p>This is the official River Rats Poker League website!</p>
</div>

<div class="column-wrapper">
    <div class="left">
        <div class="background">
            <%= render collection: @season.players_seasons, partial: 'welcome/players_seasons' %>
        </div>
    </div>
</div>

<%= render 'application/footer-banner-authenticated' %>