<div class="calendar-controls">

  <!-- Previous month -->
  <% previous_month = date - 1.month %>
  <%= link_to events_path(previous_month.year, previous_month.strftime('%B').downcase) do %>
    &lt; <%= previous_month.strftime '%B' %>
  <% end %>

  <!-- Next month -->
  <% next_month = date + 1.month %>
  <%= link_to events_path(next_month.year, next_month.strftime('%B').downcase) do %>
    <%= next_month.strftime '%B' %> &gt;
  <% end %>

</div>