<div class="calendar-controls">

    <% _prev = previous_month(date) %>
    <%= link_to events_path(_prev.year, _prev.strftime('%B').downcase) do %>
        &lt; <%= _prev.strftime '%B' %>
    <% end %>

    <% _next = next_month(date) %>
    <%= link_to events_path(_next.year, _next.strftime('%B').downcase) do %>
        <%= _next.strftime '%B' %> &gt;
    <% end %>

</div>