<li>
  <%= link_to event_path(event), class: 'event' do %>
    <p><%= event.title %></p>
    <%- time_format = event.start_at.min == 0 ? '%l%p' : '%l:%M%p' %>
    <p class="starts"><%= event.start_at.strftime(time_format).downcase %></p>
  <% end %>
</li>