<%- content_for :title, 'Event Calendar' %>
<%- content_for :description, t('description.events.index') %>
<%- content_for :canonical_url, events_url %>

<div class="thin-hero inverted">
  <div class="wrapper">
    <span class="subheading">Event Calendar</span>
    <h1><%= @date.strftime '%B, %Y' %></h1>
  </div>
</div>

<div class="calendar-wrapper">
  <div class="wrapper">

    <!-- Calendar -->
    <div class="calendar">

      <!-- Week day titles -->
      <p class="weekday-title">Sun</p>
      <p class="weekday-title">Mon</p>
      <p class="weekday-title">Tue</p>
      <p class="weekday-title">Wed</p>
      <p class="weekday-title">Thu</p>
      <p class="weekday-title">Fri</p>
      <p class="weekday-title">Sat</p>

      <!-- Dates -->
      <%- @dates.each do |date, events| %>
        <%= render 'date', date: date, events: events %>
      <%- end %>

    </div>

  </div>
</div>

<!--    <!-- Calendar controls -->
    <%#= render partial: 'calendar-controls', locals: { date: @date } %>

<!--  </div>-->

<!--</div>-->
