<tr>
    <td class="stretch"><%= link_to players.player.full_name, player_path(players.player) %></td>
    <td class="numeric"><%= players.score %></td>
    <td class="numeric"><%= players.games_played %></td>
    <td class="numeric"><%= players.games_won %></td>
</tr>