<tr>
    <td><%= link_to players.player.full_name, player_path(players.player) %></td>
    <td style="text-align: right"><%= players.score %></td>
    <td style="text-align: right"><%= players.games_played %></td>
    <td style="text-align: right"><%= players.games_won %></td>
</tr>