<%- content_for :title, @venue.name %>

<div class="wrapper wrapper-header submerged">
    <h1><%= @venue.name %></h1>
    <p>Venue overview &middot; <%= link_to @venue.region.name, region_path(@venue.region) %></p>
</div>

<div class="column-wrapper">
    <div class="left">
        <div class="background">
            <h2><i class="material-icons">&#xE242;</i> Leaderboard</h2>
            <table>
                <tr>
                    <th class="stretch">Name</th>
                    <th class="numeric">Score</th>
                    <th class="numeric">Played</th>
                    <th class="numeric">Wins</th>
                </tr>
                <%= render collection: @venue.players_venues.first(50), partial: 'players' %>
            </table>
        </div>
    </div>
</div>

