body.authentication {

  .form-header {
    text-align: center;
    margin: 0 0 3rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);

    h1 {
      color: hsl(220, 15%, 94%);
      margin: 0;
      font-size: 24px;
    }

    p {
      color: hsl(220, 15%, 94%);
      margin-top: 0.7rem;
      margin-bottom: 0;
      max-width: 60ch;
    }
  }

  form:not(.search) {
    background: white;
    overflow: hidden;
    padding: 1rem 1.25rem 1.25rem;
    position: relative;
    border-radius: 3px;
    margin: 2rem 0;
    font-size: 15px;
    box-shadow:
            0 15px 35px rgba(0, 0, 0, 0.05),
            0 5px 15px rgba(0, 0, 0, 0.05);

    .button { margin-top: 1.5rem; }
    .field { margin: 1rem 0; }

    .form-footer {
      border-top: 1px solid hsl(220, 8%, 88%);
      background: hsl(220, 8%, 96%);
      padding: 1.25rem 1.5rem;
      text-align: center;
      margin: 1.5rem -1.25rem -1.25rem;

      p {
        color: lighten($text, 25%);
        margin: 0;
      }
    }

    .remember-and-forget {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      .remember { margin-right: auto; }
      margin: 2rem 0 0.5rem;
    }

    hr {
      border: none;
      border-top: 1px solid hsl(220, 8%, 97%);
      margin: 1.5rem 0 1rem;
    }

    input { max-width: none; }
  }

}

@media (min-width: 400px) {

  body.authentication {

    form:not(.search) {
      padding: 22px 2rem 2rem;

      .form-footer {
        padding: 1.5rem 2rem;
        margin: 2rem -2rem -2rem;
      }

    }

  }

}