body.authentication {
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    border: 1px solid hsl(220, 8%, 82%);
    border-radius: 3px;
    color: $generic-text-bold;
    padding: 10px 14px;
    margin-top: 0.25rem;
  }

  input[type="password"] {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
}