<tr>
    <td><%= venue.name %></td>
    <td><%= venue.region %></td>
    <td><%= link_to 'view (public)', venue_path(venue) %></td>
    <td><%= link_to 'edit', edit_admin_venue_path(venue) %></td>
</tr>