<tr>
  <td class="highlight"><%= link_to venue.name, edit_admin_venue_path(venue), remote: true, data: { expects_modal: true, disable: true } %></td>
  <td class="stretch"><%= venue.region.name %></td>
</tr>