<tr>
    <td><%= link_to venue.name, edit_admin_venue_path(venue) %></td>
    <td class="stretch"><%= venue.region.name %></td>
    <td><%= link_to 'view (public)', venue_path(venue) %></td>
    <td><%= link_to 'edit', edit_admin_venue_path(venue) %></td>
</tr>