<div class="admin-body">

    <h1>Edit Venue</h1>
    <p>Edit venue '<%= @venue.name %>'.</p>

    <%= render 'form' %>

</div>

<%= link_to 'Delete', admin_venue_path(@venue), method: :delete, data: {confirm: t('venue.confirm_delete')} %>