<div class="admin-body">

    <% if @venues.empty? %>
        There's nothing here. <br />
    <% else %>
        <table>
            <tr>
                <th>Name</th>
                <th class="stretch">Region</th>
            </tr>
            <%= render @venues %>
        </table>

        <div class="footer">
            <%= paginate @venues %>
            <p><%= page_entries_info @venues %></p>
        </div>

    <% end %>

</div>