<div class="admin-body">

    <% if @venues.empty? %>
        There's nothing here. <br />
    <% else %>
        <table>
            <tr>
                <th>Name</th>
                <th class="stretch">Region</th>
            </tr>
            <%= render @venues %>
        </table>

        <%= paginate @venues %>
    <% end %>

</div>