<% content_for :title, 'All Venues (Admin)' %>

<div class="admin-body">

    <% if @venues.empty? %>
        <%= render partial: 'admin/empty-state', locals: { noun: 'venues', link: new_admin_venue_path } %>
    <% else %>
        <table>
            <tr>
                <th>Name</th>
                <th class="stretch">Region</th>
            </tr>
            <%= render @venues %>
        </table>
    <% end %>

    <div class="footer">
        <%= paginate @venues %>
        <p><%= page_entries_info @venues %></p>
    </div>

</div>