<%- content_for :title, 'Venues (Admin Panel)' %>

<div class="heading-and-button">
  <div>
    <span class="subheading">Admin Tools</span>
    <h1>Venues</h1>
  </div>
  <div>
    <%= link_to 'Create venue', new_admin_venue_path, class: 'button' %>
  </div>
</div>

<div class="breakdown"></div>

<div class="venue-list model-list">
  <table>
    <%= render @venues %>
  </table>
</div>

<%= paginate @venues %>
<p><%= page_entries_info @venues %></p>

<!--    <!-- Venue list -->
<!--    <div class="background">-->

<!--      <h2><i class="material-icons">&#xE8F9;</i> Venues</h2>-->

      <%# if @venues.empty? %>
        <%#= render partial: 'admin/empty_state', locals: { noun: 'venues', link: new_admin_venue_path } %>
      <%# else %>
<!--        <div class="table-wrapper">-->
<!--          <table>-->
<!--            <tr>-->
<!--              <th>Name</th>-->
<!--              <th class="stretch">Region</th>-->
<!--            </tr>-->
            <%#= render @venues %>
<!--          </table>-->
<!--        </div>-->
      <%# end %>

<!--      <div class="background-footer">-->
        <%#= paginate @venues %>
<!--        <p><%#= page_entries_info @venues %></p>-->
<!--      </div>-->

<!--    </div>-->

<!--  </div>-->

<!--</div>-->