<h1>Venues</h1>
<p>The following venues exist:</p>

<% if @venues.empty? %>
    There's nothing here. <br />
<% else %>
    <table>
        <tr>
            <th>Name</th>
            <th>Region</th>
        </tr>
        <%= render @venues %>
    </table>
<% end %>

<br />

<%= link_to 'Create new venue', new_admin_venue_path %>
