<%- content_for :title, t('admin.venues.index.title') %>

<div class="heading-and-button">
  <div>
    <span class="subheading">Admin Tools</span>
    <h1>Venues</h1>
  </div>
  <div>
    <%= link_to t('admin.venues.new.title'), new_admin_venue_path, class: 'button', remote: true, data: { expects_modal: true, disable: true } %>
  </div>
</div>

<div class="venue-list model-list">
  <table>
    <%= render @venues %>
  </table>
</div>

<div class="model-list-footer">
  <%= paginate @venues %>
  <p><%= page_entries_info @venues %></p>
</div>
