<tr>
  <td class="stretch">
    <%= link_to game_path(game) do %>
      <span class="highlight">Game <%= game.name %></span> at the <%= game.venue.name %>
    <%- end %>
  </td>
  <td><%= game.played_on.strftime '%B %d, %Y' %></td>
</tr>
