<tr>
    <td style="text-align: right"><%= games_players.position + 1 %></td>
    <td>
        <% if games_players.player == nil %>
            [Deleted player]
        <% else %>
            <%= link_to games_players.player.full_name, games_players.player %>
        <% end %>
    </td>
    <td style="text-align: right"><%= games_players.score %></td>
</tr>