<tr>
    <td><%= (player.position + 1).ordinalize %></td>
    <td>
        <% if player.player == nil %>
            [Deleted player]
        <% else %>
            <%= link_to player.player.full_name, player.player, data: { player_id: player.player.id, show_profile_preview: true } %>
        <% end %>
    </td>
    <td>@<%= player.player.username %></td>
    <td class="numeric stretch"><%= player.score %></td>
</tr>