<tr>
    <td style="text-align: right"><%= players.position + 1 %></td>
    <td>
        <% if players.player == nil %>
            [Deleted player]
        <% else %>
            <%= link_to players.player.full_name, players.player %>
        <% end %>
    </td>
    <td style="text-align: right"><%= players.score %></td>
</tr>