<% content_for :title, t('games.index.title') %>
<% content_for :description, t('games.index.description') %>
<% content_for :canonical_url, games_url %>

<div class="wrapper">
  <span class="subheading">River Rats History</span>
  <h1><%= t('games.index.title') %></h1>

  <div class="model-list">
    <table>
      <%= render collection: @games, partial: 'application/standard_game' %>
    </table>
  </div>

  <div class="model-list-footer">
    <%= paginate @games %>
    <p><%= page_entries_info @games %></p>
  </div>
</div>