<h1><%= @game.name %></h1>
<p>This game has the following stats: </p>

<h2>Leaderboard</h2>
<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Score</th>
    </tr>
    <%= render collection: @game.games_players.first(50), partial: 'players' %>
</table>
