<%= form_with url: admin_tickets_path, method: :patch, class: 'modal-form' do |form| %>
  <div class="field">
    
  </div>
  <div class="player-input-wrapper" id="js-ticket-player-input">
    <input type="text" class="player-input" placeholder="Name or username">
    <button class="player-input-submit button-secondary">Choose player</button>
  </div>
<% end -%>
