<%- content_for :title, 'Preferences' %>

<span class="subheading">Account Tools</span>
<h1>Settings</h1>

<%= render 'settings_form' %>

  <div class="thin">

    <!-- Cancel account -->
    <div class="background danger-zone">
      <h2><i class="material-icons">&#xE002;</i>Delete account</h2>
      <p><strong>Warning! This action cannot be undone.</strong> Unhappy? Cancel your account here. We'll be sad to see
        you go.</p>

      <div class="buttons">
        <%= link_to 'Delete account',
                    registration_path(resource_name),
                    data: { confirm: 'Are you sure?' },
                    method: :delete,
                    class: 'button danger' %>
      </div>
    </div>

  </div>
