// Branding colours
$branding-primary: hsl(282, 34%, 50%);
$branding-primary-rotated: adjust-hue($branding-primary, 20deg);
$branding-primary-text: hsl(282, 10%, 99%);

$branding-secondary: hsl(88, 50%, 53%);
$branding-secondary-rotated: adjust_hue($branding-secondary, 14deg);
$branding-secondary-text: hsl(88, 10%, 96%);

// Interface colours
$danger-red: hsl(11, 70%, 57%);
$danger-red-rotated: adjust-hue($danger-red, 4deg);
$danger-text: hsl(11, 15%, 97%);

$acceptance-green: hsl(145, 67%, 43%);

$breakdown: $branding-primary; // hsl(38, 90%, 51%);
$breakdown-rotated: adjust_hue($breakdown, 8deg);
$breakdown-text: hsl(38, 15%, 21%);

// Default text colours
$generic-text: hsl(282, 12%, 18%);
$generic-text-bold: darken($generic-text, 15%);

$border-on-white: hsl(282, 8%, 90%);
$border-on-grey: hsl(282, 8%, 87%);

$button-border: hsl(282, 15%, 92%);
$input-border: darken($border-on-white, 4%);
$input-background: lighten($border-on-white, 7%);