<%- content_for :title, t('players.index.title') %>
<%- content_for :description, t('players.index.description') %>
<%- content_for :canonical_url, players_url %>

<div class="content-wrapper wrapper">
  <span class="subheading">Leaderboard</span>
  <h1><%= t('players.index.title') %></h1>

  <div class="model-list">
    <table>
      <%= render @players %>
    </table>
  </div>

  <div class="model-list-footer">
    <%= paginate @players %>
    <p><%= page_entries_info @players %></p>
  </div>

</div>