<% content_for :title, 'Secure Login' %>
<% content_for :description, t('description.players.sessions.new') %>
<% content_for :canonical_url, new_player_session_url %>

<span class="subheading">Welcome Back</span>
<h1>Secure Login</h1>

<%= render 'form' %>