.attribution {
  color: lighten($generic-text, 30%);
  vertical-align: middle;
  line-height: 1;
  margin: 0;
  a { color: inherit;}
  i {
    color: $branding-primary;
    font-size: 22px;
    vertical-align: inherit;
  }

}