.attribution {
  color: lighten($generic-text, 40%);
  vertical-align: middle;
  line-height: 1;
  margin: 0;

  a {
    color: lighten($generic-text, 25%);
  }

  i {
    color: lighten($generic-text, 25%);
    font-size: 19px;
    vertical-align: inherit;

    &.code {
      font-size: 21px;
    }
  }

}