.badge {
  display: inline;
  background: lighten($branding-primary, 5%);
  color: $branding-primary-text;
  border-radius: 2px;
  font-weight: normal;
  font-size: 14px;
  vertical-align: middle;
  &:before, &:after { content: '\00a0'; }
}