.breakdown {
  background: transparentize($darcula-light, .4);
  border-radius: $border-radius;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 0 1.5rem;
  padding: 1.75rem 1.75rem 1.5rem;
  width: 100%;

  h2 {
    color: $zurple-lighter;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
  }

  p {
    color: lighten($darcula-light-inverted, 10%);
    font-size: 30px;
    line-height: 1.1;
    margin: .5rem 0 0;
  }
}
