.breakdown {
  background: transparentize($darcula-light, 0.4);
  border-radius: $border-radius;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
  margin: 0 0 1.5rem;
  padding: 1.25rem 1.25rem 1rem;
  width: 100%;

  h2 {
    color: $zurple-lighter;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
  }

  p {
    color: lighten($darcula-light-inverted, 10%);
    font-size: 26px;
    line-height: 1.1;
    margin: 0.5rem 0 0;
  }
}

@media (min-width: 980px) {
  .breakdown {
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    padding: 1.75rem 1.75rem 1.5rem;

    h2 {
      font-size: 14px;
    }

    p {
      font-size: 30px;
    }
  }
}
