.buttons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: -0.5rem;
  margin-top: 1.5rem;

  .button,
  .button-secondary,
  .button-tertiary {
    margin: 0.5rem;
  }
}

.button, .button-secondary, .button-tertiary {
  @include no-select;
  display: flex;
  align-items: center;
  font-size: $font-size - 1px;
  font-weight: 500;
  line-height: 1.1;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  padding: 14px 22px;

  svg.material-icons {
    height: 22px;
    width: 22px;
  }

  .material-icons {
    margin: -3px 0.75rem;

    // It is best to visually adjust these values with inline styles.
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.wide {
    justify-content: center;
    width: 100%;
  }

  &:hover {
    text-decoration: none;
  }
}

.button {
  color: $zurple-inverted;
  fill: $zurple-inverted;
  background: $zurple;
  transform: translateY(0px);
  transition: transform 300ms, box-shadow 300ms;

  &:not([disabled]):hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &.danger {
    color: $danger-inverted;
    fill: $danger-inverted;
    background: $danger;
  }

  &[disabled] {
    background: $grey-dark;
    color: $grey-dark-inverted;
    fill: $grey-dark-inverted;
  }
}

.button-secondary {
  position: relative;
  color: $zurple;
  fill: $zurple;
  background: white;
  border: 2px solid $grey;
  padding: 13px 21px;

  &.danger {
    color: $danger;
    fill: $danger;
  }
}

.button-tertiary {
  margin: 0.5rem -0.25rem !important;
  color: lighten($text, 25%);
  fill: lighten($text, 25%);

  &:hover {
    color: darken($zurple, 3%);
    fill: darken($zurple, 3%);
  }
}