.calendar-wrapper .wrapper {
  margin-top: 0;
  max-width: 1550px;
}

.calendar {
  background: $white;
  border-left: 1px solid $grey;
  border-radius: $border-radius;
  padding: 0.75rem 0;
  width: 100%;

  .weekday-title {
    display: none;
  }

  .date {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 40px 1fr;
    padding: 0.75rem;

    &.empty,
    &.disabled {
      display: none;
    }

    .day {
      color: lighten($text, 14%);
      font-size: 25px;
      line-height: 1;
      margin: 0;
      text-align: center;
    }

    .weekday {
      font-size: 90%;
      margin: 0 0 0.2rem;
      text-align: center;
    }

    &.today:not(.disabled) .day {
      color: $zurple;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .event {
    background: $zurple;
    border-radius: $border-radius;
    color: $zurple-inverted;
    display: block;
    padding: 0.25rem 0.5rem;

    p {
      line-height: 1.4;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}

@media (min-width: 1220px) {
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;

    .weekday-title {
      border-right: 1px solid $grey;
      color: $text-bold;
      display: inline;
      font-weight: 500;
      line-height: 1;
      margin: 0;
      padding: 1rem 0.75rem 0;
    }

    .date {
      border-bottom: 1px solid $grey;
      border-right: 1px solid $grey;
      display: block;
      min-height: 190px;
      padding: 0.75rem;

      &.empty,
      &.disabled {
        display: block;
      }

      .day {
        font-size: 20px;
        margin: 0.75rem 0;
        text-align: right;
      }

      .weekday {
        display: none;
      }

      &.disabled .day {
        color: lighten($text, 50%);
      }

      &.disabled .event {
        background: $grey;
        color: $grey-inverted;
      }
    }
  }
}
