.calendar-wrapper {
  .wrapper {
    margin-top: 0;
    max-width: 1550px;
  }
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: white;
  width: 100%;
  border-left: 1px solid $grey;
  border-radius: $border-radius;

  .weekday-title {
    display: inline;
    line-height: 1.0;
    margin: 0;
    padding: 1rem 0.75rem 0;
    font-weight: 500;
    color: $text-bold;
    border-right: 1px solid $grey;
  }

  .date {
    min-height: 190px;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    padding: 0.75rem;

    .day {
      text-align: right;
      font-size: 20px;
      margin: 0.75rem 0;
      line-height: 1;
      color: lighten($text, 14%);
    }

    &.disabled .day {
      color: lighten($text, 50%);
    }

    &.disabled .event {
      background: $grey;
      color: $grey-inverted;
    }

    &.today:not(.disabled) .day {
      color: $zurple;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .event {
    display: block;
    color: $zurple-inverted;
    background: $zurple;
    border-radius: $border-radius;
    padding: 0.25rem 0.5rem;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    p {
      margin: 0;
      line-height: 1.4;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}

@media (min-width: 1220px) {
  .calendar .date .weekday {
    display: none;
  }
}