.checkbox {
  transition: color 300ms;

  input[type='checkbox'] {
    @include hidden-visually();

    + label::after {
      content: none;
    }
  }

  input[type='checkbox']:checked + label {
    &::before {
      background: $zurple;
      border-color: $zurple;
    }

    &::after {
      content: '';
    }
  }

  label {
    padding-left: 1.75rem;
    position: relative;

    &::before {
      background: $white;
      border: 2px solid darken($grey-dark, 8%);
      border-radius: $border-radius - 1px;
      content: '';
      cursor: pointer;
      display: inline-block;
      height: 1.2rem;
      left: 0;
      position: absolute;
      top: 2px;
      transition: background 200ms, border-color 200ms;
      width: 1.2rem;
    }

    &::after {
      border-bottom: 2.5px solid $white;
      border-left: 2.5px solid $white;
      content: '';
      display: inline-block;
      height: 7px;
      left: 3px;
      position: absolute;
      top: 6px;
      transform: rotate(-45deg);
      width: 13px;
    }
  }
}
