.flashes {
  position: fixed;
  top: 74px;
  right: 0;
  z-index: 1000;
  padding: 1rem;
  width: 100%;
  max-width: 450px;

  .flash {
    display: flex;
    width: 100%;
    border-radius: 3px;
    color: $generic-text;
    background: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.05);
    cursor: pointer;

    .flash-icon {
      background: linear-gradient(0deg, $branding-primary, $branding-primary-rotated);
      padding: 14px 0.5rem;
      border-radius: 3px 0 0 3px;
      line-height: 1.0;
      vertical-align: middle;

      i {
        color: $branding-primary-text;
        font-size: 24px;
      }
    }

    .flash-body {
      padding: 0.5rem 1rem;

      h1 {
        font-size: $font-size;
        margin: 0.5rem 0;
      }

      p {
        font-size: $font-size;
        margin: 0.5rem 0;
      }
    }

    &:not(.flash-success) {
      p { margin: 0.5rem; }
    }

  }

}