.flashes {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 1em;
  width: 100%;
  max-width: 450px;

  .flash {
    display: flex;
    width: 100%;
    border-radius: 3px;
    color: $generic-text;
    background: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.05);

    .flash-icon {
      background: linear-gradient(0deg, $branding-secondary, $branding-secondary-rotated);
      padding: 14px 0.5rem;
      border-radius: 3px 0 0 3px;

      i {
        color: $branding-primary-text;
        font-size: 21px;
      }
    }

    .flash-body {
      padding: 0.5rem 1rem;

      h1 {
        font-size: $font-size;
        margin: 0.25rem 0;
      }

      p {
        margin: 0.25rem 0;
      }
    }

  }

}