.flash-messages {
  position: fixed;
  top: 74px;
  right: 0;
  z-index: 1000;
  padding: 1rem;
  width: 100%;
  max-width: 475px;

  .flash {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    padding-right: 1rem;
    grid-gap: 1.5rem;
    align-items: center;
    width: 100%;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    border: 2px solid $zurple;
    background: white;

    &.flash-error {
      border-color: $danger;
      .flash-close svg.material-icons {
        fill: $danger;
      }
    }

    .flash-icon {
      background: $zurple;
      padding: 18px 0.5rem;
      line-height: 1.0;
      vertical-align: middle;
      align-self: stretch;

      i {
        color: $zurple-inverted;
        font-size: 24px;
      }
    }

    .flash-body {
      padding: 0.5rem 0;
    }

    h3 {
      font-size: $font-size;
      margin: 0.5rem 0;
      line-height: $body-line-height;
    }

    p {
      font-size: $font-size;
      margin: 0.5rem 0;
    }

    .flash-close {
      width: 40px;
      background: none;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0.5rem;
      line-height: 1.0;
      vertical-align: middle;
      fill: $zurple;

      svg {
        line-height: 1.0;
        vertical-align: middle;
      }
    }

  }

}