.footer-banner {

  .wrapper {
    text-align: center;
    margin: 8rem auto;
  }

  .info {
    margin: 0 0 2rem;

    h1 {
      margin-bottom: 1rem;
      font-size: 22px;
    }

    p {
      color: lighten($generic-text, 10%);
      margin: 0;
    }
  }

  .buttons {
    justify-content: center;
    margin: 0;
  }

  h1 {
    margin: 0 0 2.5rem;
    color: lighten($generic-text, 15%);
  }

}