.footer {
  background: $grey;
  border-bottom: 70px solid $darcula;
  border-top: 1px solid $grey-dark;
  color: $text;
  line-height: $body-line-height;
  margin: 0;
  padding: 4rem 0 0;
  position: relative;
  z-index: 1;

  > .wrapper {
    margin: 0 auto;
  }
}

.nav-columns {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 180px);
  margin: 0 0 2rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  li {
    margin: 0.3rem 0;

    &.title {
      color: $zurple;
      font-weight: 500;
    }
  }

  a {
    color: lighten($text, 20%);
    padding: 2px 0;
    position: relative;

    &:hover {
      color: $zurple;
      text-decoration: none;
    }
  }
}

.footer-buttons {
  left: 0;
  position: absolute;
  right: 0;
  top: -24px;

  .wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 0.25rem;
  }

  .button,
  .button-secondary {
    margin: 0 0.25rem;
  }

  .button-secondary {
    border-color: $grey-dark;
    display: none;
  }
}

@media (min-width: 410px) {
  .footer-buttons .button-secondary {
    display: flex;
  }
}

@media (min-width: 525px) {
  .footer-buttons {
    .wrapper {
      padding: 0 1.5rem;
    }

    .button,
    .button-secondary {
      margin: 0 0.5rem;
    }
  }
}

.footer-base {
  background: $darcula;
  color: $darcula-inverted;
  padding: 0.4rem 0;

  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  a {
    color: lighten($darcula-inverted, 10%);

    &:hover {
      text-decoration: underline;
    }
  }

  .version {
    line-height: 1.2;
    margin: 0;
  }
}

@media (min-width: 810px) {
  .footer .nav-columns {
    grid-gap: 2rem;
    margin: 0 0 4rem;
  }

  .footer-base {
    .wrapper {
      flex-direction: row;
    }

    p:first-child {
      margin-right: auto;
    }

    .version {
      border-right: 1px solid darken($darcula-inverted, 30%);
      margin: 0 0.75rem 0 0;
      padding: 0 0.75rem 0 0;
    }
  }
}

@media (min-width: 980px) {
  .footer {
    border-bottom: 4px solid $zurple;
    margin-bottom: 0;
  }
}
