.footer-banner {
  padding: 4rem 0;
  margin: 6rem 0;
  background: white;

  .wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 80px 1fr 450px;
    grid-gap: 2.5rem;
    margin-bottom: 0;
  }

  .logo {
    width: 80px;
    line-height: 1;
    vertical-align: middle;
  }

  .info {
    h1 {
      margin-bottom: 1rem;
      font-size: 22px;
    }

    p {
      color: lighten($generic-text, 10%);
      margin: 0;
    }
  }

  .buttons {
    justify-content: center;
    margin: 0;
  }

  .button-secondary {
    background: white;
  }

  h1 {
    margin: 0 0 2.5rem;
    color: lighten($generic-text, 15%);
  }

}