.footer {
  background: $grey;
  border-bottom: 70px solid $darcula;
  border-top: 1px solid $grey-dark;
  color: $text;
  line-height: $body-line-height;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;

  > .wrapper {
    margin: 0 auto;
  }
}

@media (min-width: 980px) {
  .footer {
    border-bottom: 4px solid $zurple;
    margin-bottom: 0;
  }
}
