.footer {
  position: relative;
  padding: 4rem 0 0;
  margin: 0;
  z-index: 1;
  color: $text;
  background: $grey;
  border-top: 1px solid $grey-dark;
  border-bottom: 4px solid $zurple;
  line-height: $body-line-height;

  & > .wrapper {
    margin: 0 auto;
  }

  .nav-columns {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 180px);
    margin: 0 0 4rem;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: left;
    }

    li {
      margin: 0.3rem 0;
    }

    a {
      position: relative;
      color: lighten($text, 20%);
      padding: 2px 0;

      &:hover {
        text-decoration: none;
        color: $zurple;
      }
    }

    li.title {
      color: $zurple;
      font-weight: 500;
    }

  }

}

.footer-buttons {
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .button,
  .button-secondary {
    margin: 0 0.5rem;
  }

  .button-secondary {
    border-color: $grey-dark;
  }
}

.footer-base {
  padding: 0.4rem 0;
  color: $darcula-inverted;
  background: $darcula;

  .wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  p:first-child {
    margin-right: auto;
  }

  a {
    color: lighten($darcula-inverted, 10%);

    &:hover {
      text-decoration: underline;
    }
  }

  .version {
    margin: 0 0.75rem 0 0;
    padding: 0 0.75rem 0 0;
    border-right: 1px solid darken($darcula-inverted, 30%);
    line-height: 1.2;
  }
}