.footer-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: -24px;

  .button,
  .button-secondary {
    margin: 0 0.25rem;
  }

  .button-secondary {
    border-color: $grey-dark;
    display: none; // Hide the second button very small screens
  }
}

@media (min-width: 410px) {
  .footer-buttons .button-secondary {
    display: flex;
  }
}

@media (min-width: 525px) {
  .footer-buttons {
    .button,
    .button-secondary {
      margin: 0 0.5rem;
    }
  }
}
