.header-menu-overlay {
  background: $darcula;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 500ms;

  &[active] {
    opacity: .35;
  }
}

.header-menu-wrapper {
  position: relative;

  .header-menu {
    background: $white;
    border: 1px solid $grey;
    border-radius: $border-radius;
    color: $text;
    display: none;
    fill: $text;
    left: 0;
    line-height: $body-line-height;
    margin-top: .8rem;
    min-width: 280px;
    position: absolute;
    top: 100%;

    &.right-aligned {
      left: unset;
      right: 0;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;

    a {
      padding: .25rem 1rem;
    }
  }

  &[active] .header-menu {
    display: block;
  }
}

.header-link,
.header-menu-trigger {
  @include no-select();
  align-items: center;
  display: flex;
  fill: $darcula-inverted;
  flex-direction: column;
}

@media (min-width: 980px) {
  .header-link,
  .header-menu-wrapper .header-menu-trigger {
    flex-direction: row;
  }
}
