.header-dropdown-overlay {
  background: $darcula;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: opacity 500ms;

  &[active] {
    opacity: 0.35;
  }
}

.header-dropdown-wrapper {
  position: relative;

  .header-dropdown-trigger {
    display: flex;
    align-items: center;
    fill: $darcula-inverted;
    @include no-select();
  }

  .header-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 280px;
    margin-top: 0.8rem;
    color: $text;
    fill: $text;
    background: white;
    border: 1px solid $grey;
    border-radius: $border-radius;
    line-height: $body-line-height;

    &.right-aligned {
      left: unset;
      right: 0;
    }
  }

  ul {
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;

    a {
      padding: 0.25rem 1rem;
    }
  }

  &[active] .header-dropdown {
    display: block;
  }
}