.header-desktop {
  display: none;
}

@media (min-width: 980px) {
  .header-desktop {
    display: inherit;
  }

  .header-mobile {
    display: none;
  }
}

.header {
  background: transparentize($darcula, 0.1);
  border-top: 4px solid $zurple;
  color: $darcula-inverted;
  position: relative;
  width: 100%;
  z-index: 2000;

  > .wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  .logo {
    flex-shrink: 0;
    line-height: 1;
    margin-right: 1.25rem;
    position: relative;
    vertical-align: middle;
    width: 65px;
  }

  ul.navigation {
    align-items: center;
    background: transparentize($darcula, 0.1);
    border-bottom: 4px solid $zurple;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    width: 100%;
  }

  .header-link,
  .header-menu-trigger {
    font-size: 15px;
    padding: 0.75rem;

    &:hover {
      $hover-color: lighten($darcula-inverted, 8%);
      color: $hover-color;
      fill: $hover-color;
      text-decoration: none;
    }

    svg:first-child {
      margin-bottom: 0.25rem;
    }
  }

  .header-link {
    color: inherit;
    display: flex;
    text-decoration: none;
  }
}

// We have to disable this for nesting depth
// scss-lint:disable MergeableSelector
.header .notifications {
  cursor: pointer;

  &:hover svg {
    fill: $darcula-inverted;
  }

  svg.material-icons {
    fill: darken($darcula-inverted, 8%);
    height: 22px;
    margin-bottom: 0;
    width: 22px;
  }

  span {
    background: $darcula-dark;
    border-radius: $border-radius - 1px;
    color: darken($darcula-dark-inverted, 8%);
    font-size: 90%;
    margin-left: 0.25rem;
    padding: 0.1rem 0;

    &::before,
    &::after {
      content: "\00a0";
    }
  }

  &.active span {
    background: $zurple;
    color: $zurple-inverted;
  }
}
// scss-lint:enable MergeableSelector

.banner {
  background: $zurple;
  color: $zurple-inverted;
  font-size: $font-size;
  line-height: $body-line-height;
  margin-top: -4px;
  width: 100%;

  .wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  p {
    margin: 0;
  }

  a {
    color: $white;
    text-decoration: underline;
  }

  svg {
    fill: $zurple-inverted;
    flex-shrink: 0;
    height: 22px;
    margin-right: 0.5rem;
    width: 22px;
  }
}

@media (min-width: 980px) {
  .header {
    position: fixed;
    top: 0;

    .header-link {
      display: block;
    }

    .header-button {
      border: 1px solid $zurple-dark;
      border-radius: $border-radius - 1px;
      margin-left: 0.5rem;
      padding: 0.4rem 0.5rem;
    }

    .header-link,
    .header-menu-trigger {
      font-size: $font-size;
      padding: 0.5rem;
    }

    ul.navigation {
      background: none;
      border-bottom: 0;
      bottom: unset;
      display: flex;
      left: unset;
      position: relative;
      right: unset;
    }

    .account {
      margin-left: auto;

      svg.account-icon {
        fill: $zurple-light;
        height: 22px;
        margin-bottom: 0;
        margin-right: 0.5rem;
        width: 22px;
      }
    }
  }
}
