.header {
  background: transparentize($darcula, 0.1);
  border-top: 4px solid $zurple;
  color: $darcula-inverted;
  position: relative;
  width: 100%;
  z-index: 2000;

  > .wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  .header__logo {
    flex-shrink: 0;
    line-height: 1;
    margin-right: 1.25rem;
    position: relative;
    vertical-align: middle;
    width: 65px;
  }

  .header-link {
    display: flex;
    font-size: 15px;
    padding: 0.75rem;
    text-decoration: none;
  }
}

@media (min-width: 980px) {
  .header {
    position: fixed;
    top: 0;

    .header-link,
    .header-menu-trigger {
      font-size: $font-size;
      padding: 0.5rem;
    }
  }
}
