.hero,
.thin-hero {
  position: relative;
  padding: 0;
  background: $zurple url(asset-path('trianglify.svg'));
  background-size: cover;
}

.thin-hero {
  position: relative;
  margin: 0 0 -9rem;
  z-index: 0;
  color: darken($zurple-inverted, 5%);

  .wrapper {
    padding-top: 8rem;
    padding-bottom: 12rem;
    margin: 0 auto;
  }

  h1 {
    margin-bottom: 0;
  }
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
  text-align: center;
  color: darken($zurple-inverted, 8%);

  .wrapper {
    padding: 2rem;
    margin: 0 auto;
  }

}

@media (min-width: 800px) {
  .hero {
    display: block;
    height: unset;

    .wrapper {
      padding: 200px 0 8rem;
    }
  }
}