.hero {
  background: $zurple url(asset-path('trianglify.svg'));
  background-size: cover;
  color: darken($zurple-inverted, 5%);
  margin: 0 0 -13rem;
  padding: 0;
  position: relative;
  z-index: 0;

  .wrapper {
    margin: 0 auto;
    padding-bottom: 16rem;
    padding-top: 4rem;
  }

  h1 {
    margin-bottom: 0;
  }
}

@media (min-width: 980px) {
  .hero .wrapper {
    padding-top: 8rem;
  }
}
