.landing-fold {
  color: darken($zurple-inverted, 5%);
  background: $zurple url(asset-path('trianglify.svg'));
  background-size: cover;
  padding: 2rem 0;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-gap: 1rem;
  }

  h1 {
    color: inherit;
  }

  img {
    width: 120px;
  }
}