.light-shafts {
  position: absolute;
  display: grid;
  grid-template-columns: 80px 30px 180px 1fr 30px 2fr 60px 3fr 20px 1fr 75px;
  width: 100%;
  max-width: 1200px;
  transform: rotateZ(-10deg);

  .light {
    background: lighten($branding-primary, 3%);
    height: 1000px;
    &:nth-child(1) {
      grid-column: 1 / 4;
      grid-row: 1;
    }
    &:nth-child(2) {
      background: lighten($branding-primary, 6%);
      grid-column: 2;
      grid-row: 1;
    }
    &:nth-child(3) { grid-column: 5; }
    &:nth-child(4) { grid-column: 7; }
    &:nth-child(5) { grid-column: 9; }
  }
}