.sk-folding-cube {
  height: 40px;
  margin: 20px auto;
  position: relative;
  transform: rotateZ(45deg);
  width: 40px;

  .sk-cube {
    float: left;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    width: 50%;

    &::before {
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      background-color: $zurple;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform-origin: 100% 100%;
      width: 100%;
    }
  }

  .sk-cube2 {
    transform: scale(1.1) rotateZ(90deg);

    &::before {
      animation-delay: 0.3s;
    }
  }

  .sk-cube3 {
    transform: scale(1.1) rotateZ(180deg);

    &::before {
      animation-delay: 0.6s;
    }
  }

  .sk-cube4 {
    transform: scale(1.1) rotateZ(270deg);

    &::before {
      animation-delay: 0.9s;
    }
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    opacity: 0;
    transform: perspective(140px) rotateX(-180deg);
  }

  25%, 75% {
    opacity: 1;
    transform: perspective(140px) rotateX(0deg);
  }

  90%, 100% {
    opacity: 0;
    transform: perspective(140px) rotateY(180deg);
  }
}
