.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: $darcula;
  z-index: 10000;
  pointer-events: none;
  transition: opacity 300ms;

  &[active] {
    opacity: 0.6;
    pointer-events: all;
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 10001;

  .wrapper {
    max-width: $modal-width;
    margin: 8rem auto;
  }

  .modal {
    background: white;
    overflow-x: hidden;
    padding: 1.75rem;
    border-radius: $border-radius;
  }

  .danger-zone {
    border-top: 2px dashed $danger;
    margin-top: 2rem;
    padding-top: 2rem;
  }
}