.modal-overlay {
  background: $darcula;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 300ms;
  z-index: 10000;

  &[active] {
    opacity: 0.75;
    pointer-events: all;
  }
}

.modal-loader {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 100ms;
  z-index: 10001;

  &[active] {
    opacity: 1;
  }
}

.modal-wrapper {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10002;

  .wrapper {
    margin: 1rem auto;
    max-width: $modal-width;
    padding: 0 1rem;
  }

  .modal {
    background: $white;
    border-radius: $border-radius;
    overflow-x: hidden;
    padding: 2rem;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.remember-and-forget {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 2.5rem 0 0;

  .remember {
    margin-right: auto;
  }

  .checkbox {
    margin-bottom: 0;
  }
}

@media (min-width: 980px) {
  .modal-wrapper .wrapper {
    margin: 6rem auto 4rem;
    padding: 0 1.5rem;
  }
}
