.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: $darcula;
  z-index: 10000;
  pointer-events: none;
  transition: opacity 300ms;

  &[active] {
    opacity: 0.75;
    pointer-events: all;
  }
}

.modal-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  pointer-events: none;
  opacity: 0;
  transition: opacity 100ms;
  display: flex;
  align-items: center;
  justify-content: center;

  &[active] {
    opacity: 1;
  }

}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 10002;

  .wrapper {
    max-width: $modal-width;
    margin: 6rem auto 4rem;
  }

  .modal {
    background: white;
    overflow-x: hidden;
    padding: 2rem;
    border-radius: $border-radius;
  }
}

.remember-and-forget {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0 0;

  .remember {
    margin-right: auto;
  }
}