.modal-wrapper .modal-form {
  padding: 0;
}

.modal-form {
  background: $white;
  border-radius: $border-radius;
  margin-top: 2rem;
  max-width: $modal-width;
  padding: 2rem;
  width: 100%;

  hr {
    border: 0;
    border-bottom: 2px dashed $grey;
    margin: 1.7rem 0 1.3rem;
  }

  h2 {
    border-bottom: 1px solid $grey;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    padding-bottom: 0.5rem;
  }

  .button.wide,
  .button-secondary.wide {
    margin-top: 2.2rem;
  }

  .modal-footer {
    background: $grey;
    border-top: 1px solid $grey-dark;
    color: $grey-inverted;
    margin: 2rem -2rem -2rem;
    padding: 1rem;
    text-align: center;
  }

  .danger-zone {
    h2 {
      margin-bottom: 0.75rem;
    }

    .buttons {
      margin-top: 0.75rem;
    }
  }

  p {
    margin: 0;
  }

  input:not([type="number"]) {
    max-width: unset;
  }

  span.highlight {
    color: $text-bold;
    font-weight: 500;
  }
}
