.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 2000;
  padding: 1.25rem;

  .wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .logo {
    width: 30px;
    line-height: 1.0;
    vertical-align: middle;
  }

  .buttons {
    margin: -0.5rem 0 -0.5rem auto;
  }

  .button-secondary {
    padding: 6px 10px;
  }

  .button-tertiary {
    padding: 6px 10px;
    border: 2px solid white;
  }

}