nav.pagination {
  margin: 2rem 0 1.5rem;

  & > div {
    display: flex;
    justify-content: center;

    .page {
      background: $grey-light;
      border: 1px solid darken($grey-dark, 4%);
      border-left: none;
      padding-left: 1px;
      line-height: 1;

      &:last-child {
        border-radius: 0 3px 3px 0;
      }

      &:first-child {
        padding-left: 0;
        border-radius: 3px 0 0 3px;
        border-left: 1px solid $grey-dark;
      }

      a,
      &.current,
      &.gap {
        display: block;
        padding: 8px 11px;
      }

      &.current {
        background: $zurple;
        color: $zurple-inverted;
        border-color: $zurple;
      }

    }

  }

}