.password-banner {
  align-items: center;
  background: $white;
  border: 2px solid $grey;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  margin: 0 0 4rem;
  padding: 1.5rem;

  h2 {
    line-height: 1;
    margin: 0 0 0.5rem;
  }

  p {
    line-height: 1.5;
    margin: 0;
    max-width: 70ch;
  }
}
