.photos {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  margin: 6rem 0 0;
  overflow-x: auto;
  padding: 0 1rem;
  white-space: nowrap;

  .photo-placeholder {
    $darken: rgba(0, 0, 0, .1);
    background: $darken;
    border-radius: 4px;
    display: inline-block;
    height: 200px;
    width: 200px;
  }

  .image {
    height: 200px;
    overflow: hidden;

    img {
      border-radius: 4px;
      display: block;
      height: 100%;
    }
  }
}
