.player-data {
  background: $white;
  border: 1px solid $grey;
  border-radius: $border-radius;
  padding: 1.5rem;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin: 1.5rem 0;
    padding: 0;
  }

  .image {
    background: $grey;
    border-radius: $border-radius;
    height: 40px;
    width: 40px;
  }

  .achievement {
    align-items: center;
    display: flex;
    margin-top: 0.75rem;
    width: 100%;

    .image {
      flex-shrink: 0;
      margin-right: 1rem;
    }

    p {
      font-size: 15px;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    .title {
      color: $text-bold;
      font-weight: bold;
    }
  }

  .button-tertiary {
    justify-content: center;
    margin: 0;
    text-align: center;
  }
}
