.profile-preview-wrapper {
  position: absolute;
  z-index: 30;

  .profile-preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.04), 0 5px 15px rgba(0, 0, 0, 0.04);
    border: 1px solid $input-border;
    border-radius: 3px;
    padding: 1.25rem;

    .player-info {
      margin-right: 3rem;
    }

    p {
      margin: 0;
      line-height: 1.2;
    }

    .player-name {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      width: 0;
      height: 0;
      border-style: solid;
    }

    &:before {
      left: 19px;
      border-width: 11px;
      border-color: $input-border transparent transparent transparent;
    }

    &:after {
      left: 20px;
      border-width: 10px;
      border-color: white transparent transparent transparent;
    }

  }

}