.release-notes {
  margin: 2rem 0;
  padding: 1rem 0;
  position: relative;

  &::before {
    background: $grey-dark;
    bottom: 0;
    content: '';
    left: 38.5px;
    position: absolute;
    top: 0;
    width: 3px;
    z-index: 1;
  }

  .release {
    position: relative;
    z-index: 2;

    h2 {
      line-height: $body-line-height;
      margin-top: 0;
    }

    &:not(:first-child) {
      margin-top: 4rem;
    }
  }

  .version {
    background: $zurple;
    border-radius: $border-radius - 1px;
    color: $zurple-inverted;
    display: inline-block;
    font-size: 85%;
    font-weight: 500;
    margin-right: .75rem;
    text-align: center;
    width: 80px;
  }

  ul {
    list-style-type: none;
    margin: 1rem 0;
    padding-left: 0;
  }

  li {
    align-items: flex-start;
    display: grid;
    grid-gap: .75rem;
    grid-template-columns: 80px 1fr;
    margin: .5rem 0;
  }

  p {
    margin: 0;
    max-width: 75ch;
  }

  .change {
    border-radius: $border-radius;
    display: inline-block;
    font-size: 85%;
    font-weight: 500;
    line-height: $body-line-height;
    margin: 2px 0 0;
    text-align: center;
    width: 80px;
  }

  .change-new {
    background: $new;
    color: $new-inverted;
  }

  .change-improved {
    background: $improved;
    color: $improved-inverted;
  }

  .change-deprecated {
    background: $deprecated;
    color: $deprecated-inverted;
  }

  .change-removed {
    background: $removed;
    color: $removed-inverted;
  }

  .change-fixed {
    background: $fixed;
    color: $fixed-inverted;
  }

  .change-security {
    background: $security;
    color: $security-inverted;
  }
}

@media (min-width: 980px) {
  .release-notes {
    &::before {
      left: 28.5px;
    }

    .version {
      font-size: 95%;
      width: 60px;
    }

    ul {
      padding-left: 4rem;
    }
  }
}
