.search-wrapper {
  background: $search;
  border-radius: 3px;
  color: $search-inverted;
  max-width: 350px;
  overflow: hidden;
  position: relative;
  width: 100%;

  input[type="submit"] {
    display: none;
  }

  input[type="search"] {
    background: none;
    border: 0;
    color: inherit;
    font-size: $font-size - 1px;
    line-height: 1;
    padding: 10px;
    width: 100%;
  }
}

@media (min-width: 980px) {
  .search-wrapper {
    margin-right: 1rem;
  }
}
