.search-wrapper {
  $shadow: rgba(0, 0, 0, .02);
  background: $white;
  border-radius: 3px;
  box-shadow: 0 15px 30px $shadow, 0 5px 15px $shadow;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;

  input[type="submit"] {
    display: none;
  }

  input[type="search"] {
    border: 0;
    color: $text;
    font-size: $font-size - 1px;
    line-height: 1;
    padding: 15px 15px 15px 52px;
    width: 100%;
  }

  i {
    color: lighten($text, 25%);
    font-size: 21px;
    padding: 12px 1.2rem;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: color 200ms;
  }
}
