.search-wrapper {
  background: transparentize($zurple-dark, 0.75);
  border-radius: 3px;
  color: $darcula-light-inverted;
  max-width: 350px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-right: 1rem;

  input[type="submit"] {
    display: none;
  }

  input[type="search"] {
    background: none;
    border: 0;
    color: inherit;
    font-size: $font-size - 1px;
    line-height: 1;
    padding: 10px 10px 10px 45px;
    width: 100%;
  }

  svg {
    fill: lighten($text, 25%);
    width: 22px;
    height: 22px;
    pointer-events: none;
    position: absolute;
    top: 7px;
    left: 14px;
    transition: color 200ms;
  }
}
