.better-select-wrapper {
  position: relative;
  width: 100%;
  max-width: $max-select-width;

  &[active] .better-select-trigger {
    border-radius: $border-radius $border-radius 0 0;
  }

  &[active] .better-select-dropdown {
    opacity: 1;
    pointer-events: all;
  }
}

.better-select-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: unset;
  cursor: pointer;
  fill: $grey-light-inverted;
  @include no-select();

  svg {
    width: 22px;
    height: 22px;
    margin: -2px 0;
  }
}

.better-select-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: $grey-light;
  border: 1px solid $grey-dark;
  border-top: none;
  border-radius: 0 0 $border-radius $border-radius;
  margin: 0;
  padding: 3px 0;
  max-height: $max-select-height;
  overflow-y: auto;
  list-style-type: none;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms;
  @include no-select();

  li {
    line-height: 1.25;
    padding: 8px 14px;
    cursor: pointer;

    &:hover {
      background: $zurple;
      color: $zurple-inverted;
    }
  }
}

// Hide the existing select
select[data-processed] {
  @include hidden-visually();
}