.sign-up-banner {
  color: lighten($generic-text, 20%);
  text-align: center;
  margin: 6rem 0;

  .buttons { justify-content: center; }

  p {
    margin: 0 0 2.5rem;
    font-size: 27px;
    font-weight: bold;
  }

}