.stats {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, 140px);
  p { margin: 0; }

  .numeric {
    font-weight: bold;
    font-size: 24px;
    color: $zurple;
    line-height: 1;
  }

  .label {
    margin-top: 0.4rem;
    font-size: 15px;
  }

}

.stats-arbitrary {

  strong {
    font-weight: bold;
    color: $zurple;
  }

  p {
    margin: 0.25rem 0;
  }

}

@media (min-width: 700px) {

  .stats .numeric {
    font-size: 30px;
  }
}