.status-dot {
  padding: 0 .5rem;

  i {
    $size: 7px;
    background: $grey-dark;
    border-radius: 50%;
    display: block;
    height: $size;
    width: $size;
  }

  &.active i {
    background: $zurple;
  }
}
