.status-dot {
  padding: 0 0.5rem;

  i {
    display: block;
    $size: 7px;
    height: $size;
    width: $size;
    border-radius: 50%;
    background: $grey-dark;
  }

  &.active i {
    background: $zurple;
  }
}