.thin-player-list {
  margin: -0.5rem 0;
  padding: 0;
  list-style-type: none;

  a {
    display: block;
    color: $generic-text;
    padding: 0.5rem 0;
    &:hover {
      text-decoration: none;
      color: $branding-primary;
    }
  }

  p {
    margin: 0;
  }

  .name {
    font-weight: bold;
  }
}