.venue-image {
  border-radius: 3px;
  margin: 0 0 1rem;
  overflow: hidden;

  img {
    display: block;
    line-height: 1;
    vertical-align: middle;
    width: 100%;
  }
}

@media (min-width: 1245px) {
  .venue-image {
    margin-bottom: 2.5rem;
  }
}
