.wrapper {
  margin: 4rem auto;
  max-width: $wrapper-width;
  padding: 0 1rem;
  position: relative;
  width: 100%;
  z-index: 10;

  &.split-wrapper {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;

    .model-list {
      margin-top: 0;
    }
  }

  &.split-header {
    margin-bottom: 2.8rem;
  }
}

@media (min-width: 980px) {
  .wrapper {
    margin: 8rem auto;
    padding: 0 1.5rem;

    &.split-wrapper {
      align-items: flex-start;
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: 1fr 320px;
    }
  }
}
