.raised {
  background: white;
  padding: 8rem 0;
  .wrapper {
    margin: 0 auto;
  }
}

.wrapper-header {
  margin: 6rem auto 3rem !important;
  h1 { font-size: 22px; }
  .has-subtitle { margin: 0; }
  .subtitle {
    margin-top: 1rem;
    max-width: 60ch;
  }
}

.wrapper, .column-wrapper, .wrapper-header {
  position: relative;
  margin: 6rem auto;
  width: 100%;
  max-width: 1200px;
  z-index: 10;

  .background {
    background: white;
    border-radius: 3px;
    padding: 1.75rem 1.25rem;
    margin-bottom: 1rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.05);
    & > *:first-child { margin-top:    0; }
    & > *:last-child  { margin-bottom: 0; }
    &:last-child { margin-bottom: 0; }

    .info {
      color: lighten($generic-text, 15%);
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        margin: 0.75rem 0;
        display: flex;
        align-items: center;
      }

      i {
        color: lighten($generic-text, 25%);
        font-size: 22px;
        margin: -0.25rem 0.5rem -0.25rem 0;
        line-height: 1.0;
        vertical-align: middle;
      }

    }

    .background-footer {
      text-align: center;
      margin: 3rem 0 1rem;

      p {
        margin: 1.5rem 0;
        color: lighten($generic-text, 20%);
      }

      *:last-child { margin-bottom: 0;}

    }

    &.danger-zone {
      h2 { color: $danger-red; }
      p { max-width: 60ch; }
    }

  }

}

.column-wrapper {
  margin: 0 auto 0.75rem;
  padding: 0 0.5rem;

  &.small-first {
    margin: 6rem auto;
  }

  .thin {
    margin-top: 1rem;
  }

}

.wrapper-header.admin {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 0 !important;
  margin-bottom: 2.5rem !important;

  .subtitle {
    margin-top: 0.75rem;
    margin-bottom: 0;
  }
}

@media (min-width: 1245px) {

  .wrapper, .column-wrapper, .wrapper-header {
    margin: 8rem auto;

    .background {
      margin-bottom: 2.5rem;
      padding: 2rem;
    }
  }

  .column-wrapper {
    display: grid;
    align-items: flex-start;
    grid-gap: 2.5rem;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto 8rem;
    padding: 0;

    &.small-first {
      grid-template-columns: 270px 1fr;
    }

    .thin {
      margin: 0;
    }
  }

}