.wrapper {
  position: relative;
  margin: 4rem auto;
  width: 100%;
  max-width: $wrapper-width;
  z-index: 10;
  padding: 0 1.5rem;

  &.split-wrapper {
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-gap: 1.5rem;
    align-items: flex-start;
    margin-top: 0;

    .model-list {
      margin-top: 0;
    }
  }

  &.split-header {
    margin-bottom: 2.8rem;
  }
}

@media (min-width: 980px) {
  .wrapper {
    margin: 8rem auto;
  }
}