<h1>Edit Region</h1>
<p>Edit '<%= @region.name %>'.</p>

<%= render 'form' %>

<br />

<%= link_to 'Delete', admin_region_path(@region), method: :delete, data: { confirm: t('region.confirm_delete')} %>