<div class="admin-body">

    <% if @regions.empty? %>
        There's nothing here. <br />
    <%  else  %>
        <table>
            <tr>
                <th>Name</th>
            </tr>
            <%=  render @regions  %>
        </table>

        <div class="footer">
            <%= paginate @regions %>
            <p><%= page_entries_info @regions %></p>
        </div>

    <%  end %>

</div>