<%- content_for :title, 'Regions (Admin Panel)' %>

<div class="heading-and-button">
  <div>
    <span class="subheading">Admin Tools</span>
    <h1>Regions</h1>
  </div>
  <div>
    <%= link_to 'Create region', new_admin_region_path, class: 'button' %>
  </div>
</div>

<div class="breakdown"></div>

<div class="regions-list model-list">
  <table>
    <%= render @regions %>
  </table>
</div>

<%= paginate @regions %>
<p><%= page_entries_info @regions %></p>

<!--    <div class="background">-->

<!--      <h2><i class="material-icons">&#xE0C8;</i> Regions</h2>-->

      <%# if @regions.empty? %>
        <%#= render partial: 'admin/empty_state', locals: { noun: 'regions', link: new_admin_region_path } %>
      <%# else %>
<!--        <div class="table-wrapper">-->
<!--          <table>-->
<!--            <tr>-->
<!--              <th>Name</th>-->
<!--            </tr>-->
            <%#= render @regions %>
<!--          </table>-->
<!--        </div>-->
      <%# end %>