<h1>Regions</h1>
<p>The following regions exist:</p>

<% if @regions.empty? %>
    There's nothing here.
<%  else  %>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <%=  render @regions  %>
    </table>
<%  end %>

<br/>

<%= link_to 'Create new region', new_admin_region_path %>