<div class="admin-body">

    <% if @regions.empty? %>
        There's nothing here. <br />
    <%  else  %>
        <table>
            <tr>
                <th>Name</th>
            </tr>
            <%=  render @regions  %>
        </table>

        <%= paginate @regions %>
    <%  end %>

    <br/>

    <%= link_to 'Create new region', new_admin_region_path %>

</div>