<% content_for :title, 'New Region (Admin)' %>

<div class="admin-body">
    <h1>New Regions</h1>
    <p class="form-description">Create a new region. Be sure to keep your regions up to date as you expand.</p>
    <%= render 'form' %>
</div>