<% if flash[:modal] %>
    <div class="modals">
        <div class="modal">
            <%= flash[:modal].title %>
            <%= flash[:modal].description %>
        </div>
    </div>
<% end %>

<% unless flash.empty? %>
    <div class="flashes">
        <% flash.each do |key, value| %>
            <% if key != 'modal' %>
                <div class="flash flash-<%= key %>">
                    <i class="material-icons">&#xE7F4;</i>
                    <%= value %>
                    <i class="material-icons">&#xE5CD;</i>
                </div>
            <% end %>
        <% end %>
    </div>
<% end %>