<% unless flash.empty? %>
    <div class="flashes">
        <% flash.each do |key, value| %>
            <% if key != 'success' %>
                <div class="flash flash-<%= key %>">
                    <div class="flash-icon"><i class="material-icons">&#xE88F;</i></div>
                    <p><%= value %></p>
                </div>
            <% else %>
                <div class="flash flash-success">
                    <div class="flash-icon">
                        <i class="material-icons">&#xE88F;</i>
                    </div>

                    <!-- Flash message -->
                    <div class="flash-body">
                        <h1><%= value['title'] %></h1>
                        <p><%= value['body'] %></p>
                    </div>

                </div>
            <% end %>
        <% end %>
    </div>
<% end %>