<div class="header">
    <div class="wrapper">
        <%= link_to root_path, title: 'River Rats Poker League', class: 'logo' do %>
            <%= image_tag 'logo-textless.svg', alt: 'River Rats Poker League' %>
        <% end %>
    </div>
</div>