<div class="modal-overlay" id="modal-overlay" data-turbolinks-permanent></div>

<!-- Loader -->
<div class="modal-loader">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>
