<% if player_signed_in? && !current_player.password_changed -%>
  <div class="password-banner">
    <div>
      <h2><%= t('password.banner.title') %></h2>
      <p><%= t('password.banner.body') %></p>
    </div>

    <%= link_to 'Change password now', edit_player_registration_path, 
                remote: true, 
                data: { expects_modal: true },
                class: 'button' %>
  </div>
<% end -%>
