<% content_for :styles do %>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :title_suffix, ' (Admin Panel)' %>

<% content_for :body do %>
  <div class="admin">
    <%= render 'admin/navigation' %>
    <div class="wrapper">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>